################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/GacchoIcon/v16/.suo
/.vs/GacchoIcon/v16/Browse.VC.db
/.vs/GacchoIcon/v16/Browse.VC.opendb
